<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{fragmentos :: head('CRUD Endereços')}"></head>
<body>
    <header th:replace="~{fragmentos_forms :: header('/voltar','Endereços','/administracao')}"></header>

    <main>
        <div class="container mt-4 w-75">
            <h4 class="fw-bold mb-5">
                Crie, consulte, atualize ou delete um endereço.
            </h4>

            <form action="#" th:object="${endereco}" class="row g-3 pb-4 border border-success rounded needs-validation" method="POST">
                <div class="col-sm-12 col-md-4">
                    <label 
                        for="input_rua"
                        class="form-label">
                        Rua:
                    </label>
        
                    <input
                        type="text" 
                        class="form-control border border-success" 
                        id="input_rua" 
                        th:field="*{rua}"
                        th:errorclass="is-invalid"
                        placeholder="Informe o nome da rua"
                        required
                    >

                    <div
                        class="invalid-feedback"
                        th:if="${#fields.hasErrors('rua')}"
                        th:errors="*{rua}"
                    >Erros rua
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <label 
                        for="input_bairro" 
                        class="form-label">
                        Bairro:
                    </label>
        
                    <input 
                        type="text"
                        class="form-control border border-success" 
                        id="input_bairro" 
                        th:field="*{bairro}"
                        th:errorclass="is-invalid"
                        placeholder="Informe o nome do bairro"
                        required
                    >

                    <div
                        class="invalid-feedback"
                        th:if="${#fields.hasErrors('bairro')}"
                        th:errors="*{bairro}"
                    >Erros bairro
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <label 
                        for="input_CEP" 
                        class="form-label">
                        CEP:
                    </label>
        
                    <input 
                        type="number"
                        class="form-control border border-success" 
                        id="input_CEP" 
                        th:field="*{CEP}"
                        min="10000000"
                        max="99999999"
                        th:errorclass="is-invalid"
                        placeholder="Insira somente números!"
                        required
                    >

                    <div 
                        class="invalid-feedback" 
                        th:if="${#fields.hasErrors('CEP')}"
                        th:errors="*{CEP}"
                    >Erros CEP
                    </div>
                </div>
                
                <div class="col-sm-12 col-md-4">
                    <label 
                        for="input_numero" 
                        class="form-label">
                        Número:
                    </label>
        
                    <input 
                        type="number"
                        class="form-control border border-success" 
                        id="input_numero" 
                        th:field="*{numero}"
                        th:errorclass="is-invalid"
                        min="1"
                        required
                        placeholder="Insira somente números!"
                    >

                    <div 
                        class="invalid-feedback" 
                        th:if="${#fields.hasErrors('numero')}"
                        th:errors="*{numero}"
                    >Erros numero
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <label 
                        for="input_uf" 
                        class="form-label">
                        Estado:
                    </label>
        
                    <select 
                        class="form-control border border-success" 
                        id="estado" 
                        name="estado"
                        th:field="*{UF}"
                        th:errorclass="is-invalid"
                        required
                    >
                        <option value="0">Selecione seu estado!</option>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>

                    <div 
                        class="invalid-feedback" 
                        th:if="${#fields.hasErrors('UF')}"
                        th:errors="*{UF}"
                    >Erros UF
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <label 
                        for="input_cidade" 
                        class="form-label">
                        Cidade:
                    </label>
        
                    <input 
                        type="text"
                        class="form-control border border-success" 
                        id="input_cidade" 
                        th:field="*{cidade}"
                        th:errorclass="is-invalid"
                        placeholder="Informe o nome da cidade"
                        required
                    >

                    <div
                        class="invalid-feedback"
                        th:if="${#fields.hasErrors('cidade')}"
                        th:errors="*{cidade}"
                    >Erros cidade
                    </div>
                </div>
                
                <div class="col-12">
                    <label 
                        for="input_complemento" 
                        class="form-label">
                        Complemento:
                    </label>
                    
                    <textarea 
                        class="form-control border border-success"
                        id="input_complemento"
                        th:field="*{complemento}"
                        th:errorclass="is-invalid"
                        placeholder="Informe alguns dados adicionais"
                        required
                    >
                    </textarea>

                    <div
                        class="invalid-feedback"
                        th:if="${#fields.hasErrors('complemento')}"
                        th:errors="*{complemento}"
                    >Erros complemento
                    </div>
                </div>
    
                <br>
                <button type="submit" class="btn btn-outline-success mx-auto w-25" id="btnadicionar" th:hidden = "${endereco.id} != null ? true" 
                th:formaction="@{/endereco_form_add}">
                    Adicionar
                </button>
                <button type="submit" class="btn btn-outline-success mx-auto w-25" id="btnatualizar" th:hidden = "${endereco.id} == null ? true" 
                th:formaction="@{/endereco_form_update/{id}(id=*{id})}">
                    Atualizar
                </button>
                <button type="submit" class="btn btn-outline-danger  mx-auto w-25" id="btnremover"   th:hidden = "${endereco.id} == null ? true" 
                th:formaction="@{/endereco_form_remove/{id}(id=*{id})}">
                    Remover
                </button>
            </form>
        </div>

    </main>

    <footer th:replace="~{fragmentosadm :: footer}"></footer>
</body>
</html>