<!DOCTYPE html>
<html lang="pt-br">
    <head th:replace="~{fragmentos :: head('Meu perfil')}"></head>
<body>

    <hr>
    <div class="container">
        <div class="row">
            <div class="col-10">
                <h1 class="text-success" th:text="${usuario.nome}">Nome do usuário</h1>
            </div>
            
            <!-- Inserir Logo do sistema aqui -->
            <div class="col-2">
                <a href="#" class="pull-right">
                    <img th:src="@{/images/logo.png}" width="52" height="52">
                </a>
            </div>
            
        </div>
        <div class="row">

            <div class="col-sm-3"><!--left col-->
                
                <div class="rounded-circle">
                    <img style="border-radius: 50%;"
                    src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" 
                    class="img-fluid img-thumbnail"
                    alt="avatar">
                </div>
                
            </div><!--/col-3-->

            <div class="col-sm-9">
                
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button 
                            class="nav-link text-success active" 
                            id="perfil-tab" 
                            data-bs-toggle="tab" 
                            data-bs-target="#perfil" 
                            type="button" 
                            role="tab" 
                            aria-controls="perfil" 
                            aria-selected="true">
                                Meu Perfil
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-success" 
                            id="endrecos-tab" 
                            data-bs-toggle="tab" 
                            data-bs-target="#endrecos" 
                            type="button" 
                            role="tab" 
                            aria-controls="endrecos"
                            aria-selected="false">
                                Meus Endereços
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button 
                            class="nav-link text-success" 
                            id="pedidos-tab" 
                            data-bs-toggle="tab" 
                            data-bs-target="#pedidos" 
                            type="button" 
                            role="tab" 
                            aria-controls="pedidos" 
                            aria-selected="false">
                                Meus Pedidos
                        </button>
                    </li>


                </ul>
                <div class="tab-content" id="myTabContent">
                    <div 
                        class="tab-pane fade show active" 
                        id="perfil" 
                        role="tabpanel" 
                        aria-labelledby="home-tab">
                            
                        <h2 class="pt-1 pb-1 text-success">Meus Dados Pessoais</h2>

                        <hr>
                        <form class="row g-3 pb-4 needs-validation" method="POST">
                            <div class="col-12">
                                <label 
                                    for="inputNome" 
                                    class="form-label text-success">
                                    Seu nome
                                </label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="inputNome"
                                    th:field="${usuario.nome}"
                                    required>
                            </div>


                            <div class="col-12">
                                <label 
                                    for="inputEmail" 
                                    class="form-label text-success">
                                    Seu E-mail
                                </label>
                                <input
                                    type="email" 
                                    class="form-control" 
                                    id="inputEmail"
                                    th:field="${usuario.email}"
                                    required>
                            </div>
                            <button th:formaction="@{/usuario_update/{id}(id=${usuario.id})}" class="btn btn-lg btn-outline-success w-25 mx-auto" type="submit">
                                Salvar Dados
                            </button>
                            <button class="btn btn-lg btn-outline-dark w-25 mx-auto" type="reset">
                                Limpar Campos
                            </button>
                        </form>
                    
                        <hr>

                    </div>

                    <div
                        class="tab-pane fade" 
                        id="endrecos"
                        role="tabpanel" 
                        aria-labelledby="endrecos-tab">
                        
                        <h2 class="pt-1 pb-1 text-success">Meus Endereços Cadastrados</h2>
                        <hr>
                        
                        <div class="row row-cols-2 row-cols-sm-3 justify-content-center">
                            <div class="card col m-1 text-white bg-success" th:each="endereco : ${enderecos}" style="width: 16rem;">
                                <div class="card-body">
                                    <strong>
                                        <p class="card-text" th:text="'Rua: ' + ${endereco.rua} + ' nº ' + ${endereco.numero}"></p>
                                    </strong>
                                    <br>
                                    <strong>
                                        <p class="card-text" th:text="'Nº ' + ${endereco.numero}"></p>
                                    </strong>
                                    <br>
                                    <strong>
                                        <p class="card-text" th:text="'Bairro: ' + ${endereco.bairro}">Bairro 1</p>
                                    </strong>
                                    <br>
                                    <strong>
                                        <p class="card-text" th:text="'Cidade: ' + ${endereco.cidade} + ' - ' + ${endereco.UF}"></p>
                                    </strong>
                                    <br>
                                    <strong>
                                        <p class="card-subtitle mb-2">Complemento:</p>
                                    </strong>
                                    <p class="card-text" th:text="${endereco.complemento}"></p>
                                    <br>
                                    <strong>
                                        <p class="card-text" th:text="'CEP: ' + ${endereco.CEP}"></p>
                                    </strong>
                                    <br>

                                    <div class="card-footer bg-transparent border-success text-center">
                                        
                                        <a 
                                            href="#"
                                            th:href="@{/endereco_form/{id}(id=${endereco.id})}"
                                            class="btn btn-outline-light">
                                            Editar
                                    </a>
                                    </div>
                                </div>

                            </div>
                            
                        </div>

                        <div class="text-center">
                            <a
                                href="#"
                                th:href="@{/endereco_form/{id}(id=0)}" 
                                class="btn btn-outline-success">
                                Adicionar
                        </a>
                        </div>

                    </div>

                    <!--

                        <div 
                            class="tab-pane fade" 
                            id="pedidos" 
                            role="tabpanel" 
                            aria-labelledby="contact-tab">
                                
                            <h2 class="pt-1 pb-1 text-success">Meus Pedidos</h2>
                            <hr>
    
                            <div class="list-group mb-3">
                                <div class="list-group-item list-group-item-action pb-3 border-success" aria-current="true">
        
                                    <div class="row" th:each="pedido : ${pedidos}">
                                        <div class="col-sm-12 col-md-8 g-1 mt-2">
                                            <section class="sessaoDadosItensPedido">
                                                <div class="dadosItemPedido text-success" th:each="itemPedido : ${pedido.itensPedidos}">
                                                    <div class="d-flex justify-content-start align-itens-center">
                                                        <h5 class="mb-2 text-success">Livro:  </h5>
                                                        <h5 class="mb-2 text-success" th:text="${itemPedido.livro.titulo}"></h5>
                                                    </div>
                                                    
                                                    <div class="d-flex justify-content-start align-itens-center">
                                                        <h6 class="mt-3 text-success">Quantidade:  </h6>
                                                        <h6 class="mt-3 text-success" th:text="${itemPedido.quantidade}"></h6>
                                                    </div>
                                                    <br>
                                                </div>
                                            </section>
                                        </div>
        
                                        <div class="col-sm-12 col-md-4 d-flex align-items-center justify-content-center navbar">
                                            <button class="btn btn-outline-danger" onclick="excluirItemPedido(0)">
                                                Cancelar <img th:src="@{/images/cancelar-50.png}" width="25" height="25" alt="">
                                            </button>
                                        </div>
    
                                        <section class="sessaoDadosAdicionais">
                                            <ul class="list-group text-white">
                                                 <li class="list-group-item d-flex justify-content-between align-items-start bg-success">
                                                    <div class="ms-2 me-auto">
                                                    <div class="d-flex justify-content-start align-itens-center">
                                                        <div class="fw-bold">Endereço selecionado  </div>
                                                        <h6 th:text="${pedido.endereco.rua} + ' nº ' +  ${pedido.endereco.numero}"></h6>
                                                    </div>
                                                    </div>
                                                </li>
    
                                                <li class="list-group-item d-flex justify-content-between align-items-start bg-success">
                                                  <div class="ms-2 me-auto">
                                                    <div class="d-flex justify-content-start align-itens-center">
                                                        <div class="fw-bold">Quantidade total de livros  </div>
                                                        <h6 th:text="${pedido.qntdItens}"></h6>
                                                    </div>
                                                  </div>
                                                </li>
    
                                                <li class="list-group-item d-flex justify-content-between align-items-start bg-success">
                                                  <div class="ms-2 me-auto">
                                                      <div class="d-flex justify-content-start align-itens-center">
                                                          <div class="fw-bold">Status do Pedido  </div>
                                                          <h6 th:text="${pedido.statusPedido}"></h6>
                                                      </div>
                                                  </div>
                                                </li>
    
                                                <li class="list-group-item d-flex justify-content-between bg-success">
                                                    <div class="ms-2 me-auto">
                                                        <div class="d-flex justify-content-start align-itens-center">
                                                            <div class="fw-bold">Valor total  </div>
                                                            <h6 th:text="${pedido.valorItensTotal}"></h6>
                                                        </div>
                                                    </div>
                                                  </li>
                                              </ul>
                                        </section>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    -->
                </div>

            </div><!--/col-9-->
            
        </div><!--/row-->

        
</body>
</html>