<!DOCTYPE html>
<html lang="pt-br">
    <head th:replace="~{fragmentos :: head('CRUD Editoras')}"></head>
    <body>
        <header th:replace="~{fragmentos_forms :: header('/voltar_editora','Editoras','/administracao')}">
        </header>
        <main class="mt-5">

            <div th:if="${excecao} != '' " class="alert alert-danger w-50 ms-auto me-auto mt-1" role="alert" th:text="${excecao}" ></div>

            <form action="#" th:object="${editora}" class="text-center needs-validation" method="POST">

                <label for="inputnomeautor" class="form-label">Nome da Editora</label>
                <input type="text" class="form-control border border-success w-50 ms-auto me-auto" id="inputnomeeditora" th:field="*{nome}" th:errorclass="is-invalid" required>
                <div class="invalid-feedback"th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Erros nome</div>

                <label for="inputnomeautor" class="form-label">Cidade da editora</label>
                <input type="text" class="form-control border border-success w-50 ms-auto me-auto"id="inputcidadeeditora" th:field="*{cidade}" th:errorclass="is-invalid" required>
                <div class="invalid-feedback"th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}">Erros cidade</div>

                <br>
                <button type="submit" class="btn btn-outline-success me-1 ms-1 mb-1" id="btnadicionar" th:hidden = "${isAdicionar} != 0 ? true" 
                th:formaction="@{/editoraformadd}">
                    Adicionar
                </button>
                <button type="submit" class="btn btn-outline-success me-1 ms-1 mb-1" id="btnatualizar" th:hidden = "${isAdicionar} == 0 ? true" 
                th:formaction="@{/editoraformupdate}">
                    Atualizar
                </button>
                <button type="submit" class="btn btn-outline-success me-1 ms-1 mb-1" id="btnremover" th:hidden = "${isAdicionar} == 0 ? true" 
                th:formaction="@{/editoraformremove}">
                    Remover
                </button>
            </form>
        </main>
        <footer th:replace="~{fragmentosadm :: footer}"></footer>
    </body>
</html>