<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{fragmentos :: head('CRUD Editoras')}"></head>
<body>
    <header th:replace="~{fragmentosadm :: header('Editoras')}"></header>
    <main>
        <!--Essa div está relacionada ao listamento das editoras-->
        <div class="container">
            <h3 class="text-center pt-2 mb-2 fw-bold mb-5">Editoras</h3>

            <div class="row row-cols-1 row-cols-md-2 g-3">
                <div class="col" th:each="editora : ${editoras}">
                    <div class="card border border-success rounded">
                        <a  href="#" th:href="@{/editoraform/{id}(id=${editora.id})}" class="text-dark text-decoration-none">
                            <div class="card-body" th:text="${editora.nome}"></div>
                        </a>
                        
                    </div>
                </div>
            </div>

        </div>
        
        <!--Essa div está relacionada ao botão de adicionar-->
        <div class=" m-3 p-1 rounded text-center">
            <a href="#" th:href="@{/editoraform/{id}(id=0)}"><button type="button" class="btn btn-outline-success" >ADICIONAR</button></a>
        </div>

    <main>
    <footer th:replace="~{fragmentosadm :: footer}"></footer>
</body>
</html>