<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{fragmentos :: head('CRUD Editoras')}"></head>
<body>
    <header th:replace="~{fragmentosadm :: header('Editoras')}"></header>
    <main class="ms-3 me-3 border border-3 border-success rounded">  

        <!--Essa div está relacionada ao listamento das editoras-->
        <div class="bg-success m-3 pb-3 rounded w-50 ms-auto me-auto" >
            <div class="text-center text-white pt-2 mb-2">Editoras</div>
            <div class=" ms-3 me-3 navbar-nav-scroll rounded">
                <div class="list-group" th:each="editora : ${editoras}">
                    <a  href="#" th:href="@{/editoraform/{id}(id=${editora.id})}" class="list-group-item list-group-item-action" th:text="${editora.nome}"></a>
                </div>
            </div>
        </div>

        <!--Essa div está relacionada ao botão de adicionar-->
        <div class=" m-3 p-1 rounded text-center">
            <a href="#" th:href="@{/editoraform/{id}(id=0)}"><button type="button" class="btn btn-outline-success" >ADICIONAR</button></a>
        </div>

    <main>
    <footer th:replace="~{fragmentosadm :: footer}"></footer>
</body>
</html>