<!DOCTYPE html>
<html lang="pt-br">
<head>
    <head th:replace="~{fragmentos :: head('Fazer Login')}"></head>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-success">
            <div class="container">

                <a class="navbar-brand" href="#">
					<img th:src="@{/images/logo.png}"  width="52" height="52" alt="">
                    <h3 class="fw-bold d-inline-block">Livraria Turing</h3>
                    <h5>Página de Login</h5>
                </a>
            </div>
        </nav>
    </header>

    <main>

        <div class="container mt-4 w-75">
            <h4 class="fw-bold mb-5">
                Insira seus dados para fazer Login!
            </h4>

            <form 
                class="row g-3 pb-4 border border-success rounded needs-validation" 
                th:action="@{/login}" 
                method="POST"
            >
                <div class="col-12 p-3 mx-auto w-75 alert alert-danger text-center border border-danger" th:if="${param.error}">
                    <h5>Não foi possível fazer login.</h5> 
                    <p>
                        Verifique as credenciais e tente novamente ou crie uma nova conta.
                    </p>
                </div>  

                <div class="col-12">
                    <label for="username" class="form-label">Email: </label>
                    <input 
                        name="username" 
                        class="form-control border border-success rounded" 
                        placeholder="exemplo@exemplo.com"
                    />
                </div>
                
                <div class="col-12">
                    <label for="password" class="form-label">Senha: </label>
                    <input 
                        type="password" 
                        name="password" 
                        class="form-control border border-success rounded" 
                        placeholder="Senha"
                    />
                </div>

                <!--
                    <div class="col-12">
                        <input type="checkbox" id="remember-me" name="remember-me" />
                        <label for="remember-me">Lembre-se de mim</label>
                    </div>
                -->
                
                <button 
                    type="submit" 
                    class="btn btn-success btn-block mx-auto w-25"
                >
                    Entrar
                </button>

                <a 
                    class="btn btn-outline-success btn-block mx-auto w-25"
                    th:href="@{/cadastro}"
                >
                    Criar Conta
                </a>

            </form>
        </div>
    </main>

    <footer th:replace="~{fragmentosadm :: footer}"></footer>
</body>
</html>